@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@font-face {
	font-family: 'UTMAzuki';
	src: url('/assets/fonts/UTMAzuki/UTMAzuki.eot');
	src: local('☺'), url('/assets/fonts/UTMAzuki/UTMAzuki.woff') format('woff'), url('/assets/fonts/UTMAzuki/UTMAzuki.ttf') format('truetype'), url('/assets/fonts/UTMAzuki/UTMAzuki.svg') format('svg');
	font-weight: normal;
	font-style: normal
}

/*
     FILE ARCHIVED ON 09:12:32 Dec 16, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:56:03 Nov 05, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.478
  exclusion.robots: 0.033
  exclusion.robots.policy: 0.024
  esindex: 0.01
  cdx.remote: 10.015
  LoadShardBlock: 131.783 (3)
  PetaboxLoader3.datanode: 137.272 (4)
  load_resource: 171.656
  PetaboxLoader3.resolve: 120.122
*/